<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>lora-demo</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but web-project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript><!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDmx_xi_PbhEQqsDedk6o-Xd5BJUL5bS0U",
    authDomain: "xiao-guai-guai-ed097.firebaseapp.com",
    databaseURL: "https://xiao-guai-guai-ed097.firebaseio.com",
    projectId: "xiao-guai-guai-ed097",
    storageBucket: "xiao-guai-guai-ed097.appspot.com",
    messagingSenderId: "1074411639360",
    appId: "1:1074411639360:web:28505f6947bdd58e7e85a5",
    measurementId: "G-C32VHC36JW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
