<template>
  <div id="title-container">
    <div class="text-section">
      <div class="title rotate">
        Xiao Guai Guai
      </div>
      <div class="title">
        <p>SPORT</p>
        <p>DAY</p>
      </div>
    </div>
    <div class="img-section">
      <div id="float-window" :style="msgStyle">
        {{ floatMsg }}
      </div>
    </div>
    <!-- <div class="title">{{ propject_name }}</div> -->
  </div>
</template>

<script>
export default {
  props: {
    msgLeft: {
      type: Number,
      required: true
    }
  },
  computed: {
    msgStyle() {
      return `transform: translateX(${this.msgLeft}%)`;
    }
  },
  data() {
    return {
      floatMsg: 'We are " Let\'\s go working out "'
    }
  }
}
</script>

<style lang="scss" scoped>
#title-container {
  width: 100%;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: row;

  // animation-name: title-down;
  // animation-duration: 3s;
  .text-section, .img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 0;
    flex-grow: 1;
  }
  .text-section {
    .title {
      color: #ffffff;
      font-size: 8.8rem;
      font-weight: 900;
      opacity: .5;

      animation-name: text-shine;
      animation-duration: 5s;
      p {
        margin: 7.8rem 0;
        transform: scaleY(1.5);
      }
      &.rotate {
        position: absolute;
        top: 0;
        left: calc(-100vh + 3.3rem);
        // right: 10rem;

        width: 100vh;
        font-size: 5rem;
        transform-origin: top right;
        transform: rotate(-90deg);
      }
    }
  }
  .img-section {
    background-image: url('../assets/tits.jpeg');
    background-size: cover;
    background-position: center;
    opacity: .5;
    #float-window {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: 1.8rem;
      color: #ffffff;
      background-color: rgba(0, 0, 0, .2);

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      animation-name: to-left;
      animation-duration: 3s;
    }
  }
}

@keyframes text-shine {
  0% {
    opacity: .5;
  } 50% {
    opacity: 1;
  } 80% {
    opacity: 1;
  } 100% {
    opacity: .5;
  }
}
@keyframes to-left {
  0% {
    transform: translateX(100%);
  } 100% {
    transform: translateX(0);
  }
}
</style>