<template>
  <div id="title-container">
    <div class="spinner"></div>
    <div class="img-section1">
      <div id="float-window" :style="msgStyle">
        {{ floatMsg }}
      </div>
    </div>
    <div class="text-section">
      <div class="content2">
       <p>Who we are?<br></p>
       <p><blockquote>-To change the world<br></blockquote></p>
       <blockquote>-To see the future <br></blockquote>
       <blockquote>-To build a robust life style<br></blockquote>
       <blockquote>-To break the boundary</blockquote>
       
       
      <div class="content1">
       <br><br><br><br><br>
       contact us: instagram @matt_yao_1129
       <br>email xdmanwww@gmail.com
       <br>©2019 Let's go working out
     </div>
      </div>
    </div>
    
    <!-- <div class="title">{{ propject_name }}</div> -->
  </div>
</template>

<script>

export default {

  props: {
    msgLeft: {
      type: Number,
      required: true
    }
  },
  computed: {
    msgStyle() {
      //return `transform: translateX(${this.msgLeft}%)`;
    }
  },
  data() {
    return {
      floatMsg: 'Do it before I die'
    }
  }
}
</script>

<style lang="scss" scoped>
#title-container {
  width: 100%;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: row;

  animation-name: title-down;
  animation-duration: 3s;
  .text-section, .img-section1, .img-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 0;
    flex-grow: 1;
  }

  .content1 {
    color: #ffffff;
    font-size: 1.5rem;
    opacity: .5;
  }
  .content2 {
    color: #ffffff;
    font-size: 2.5rem;
    opacity: .5;
  }
  .text-section {
    .title {
      color: #ffffff;
      font-size: 8.8rem;
      font-weight: 900;
      opacity: .5;

      animation-name: text-shine;
      animation-duration: 5s;
      p {
        margin: 7.8rem 0;
        transform: scaleY(1.5);
      }
      &.rotate {
        position: absolute;
        top: 0;
        left: calc(-100vh + 3.3rem);
        // right: 10rem;

        width: 100vh;
        font-size: 5rem;
        transform-origin: top right;
        transform: rotate(-90deg);
      }
    }
  }
  .img-section1 {
    background-image: url('../assets/running_ass.jpg');
    background-size: cover;
    background-position: center;
    opacity: .6;
    #float-window {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: 1.8rem;
      color: #ffffff;
      background-color: rgba(0, 0, 0, .2);

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      animation-name: to-left;
      animation-duration: 3s;
    }
  }
  .chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px; 
    width: 800px;
    height: 400px;
    max-height: calc(100vh - 350px);
    background-color: transparent;
    border: 5px solid #FFFACD;
    opacity: 1;
  }
  .img-section2 {
    background-image: url('../assets/equip2.jpg');
    background-size: cover;
    background-position: center;
    opacity: .3;
    #float-window {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: 1.8rem;
      color: #ffffff;
      background-color: rgba(0, 0, 0, .2);

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      animation-name: to-left;
      animation-duration: 3s;
    }
  }
}

@keyframes text-shine {
  0% {
    opacity: .5;
  } 50% {
    opacity: 1;
  } 80% {
    opacity: 1;
  } 100% {
    opacity: .5;
  }
}
@keyframes to-left {
  0% {
    transform: translateX(100%);
  } 100% {
    transform: translateX(0);
  }
}
</style>