<template>
  <div class="panel-container">
    <div
      v-for="(panel, idx) in panels"
      :key="idx" class="panel"
      :class="{ 'isSelected': panel.isHover || idx === selectedPanel }"
      @click="togglePanel(idx)"
      @mouseover="toggleHover(idx, true)"
      @mouseleave="toggleHover(idx, false)"
    >
      {{ (panel.isHover || idx === selectedPanel) ? panel.content : panel.id }}
    </div>
  </div>
</template>

<script>
import { delay } from 'q';
export default {
  props: {
    selectedTab: {
      type: Number,
      default: 0
    },
    selectedPanel: {
      type: Number,
      required: true
    }
  },
  data() {
    const panels = [
      { id: 'Mon.', content: 'Monday' },
      { id: 'Tue.', content: 'Tuesday' },
      { id: 'Wed.', content: 'Wednesday' },
      { id: 'Thu.', content: 'Thursday' },
      { id: 'Fri.', content: 'Friday' },
      { id: 'Sat.', content: 'Saturday' },
      { id: 'Sun.', content: 'Sunday' }
    ]
    panels.forEach(p => {
      p.isHover = false;
    });

    return {
      panels
    }
  },
  methods: {
    toggleHover(idx, isHover) {
      const newPanel = this.panels[idx];
      newPanel.isHover = isHover;
      this.$set(this.panels, idx, newPanel);
    },
    togglePanel(idx) {
      this.$emit('togglePanel', idx);
    }
  },
  watch: {
    chartData() {
      this.setChart();
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-container {
  position: absolute;
  bottom: 0;
  right: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: fit-content;

  .panel {
    width: fit-content;
    padding: 5px;
    margin-top: 10px;

    background-color: #ffd271;
    color: #ffffff;
    border: 3px solid #ffd271;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 600;
    
    cursor: pointer;
    &.isSelected {
      background-color: #ffffff;
      color: #ffd271;
      border-color: #ffd271;
      border-right-color: #ffffff;
    }
  }
}
</style>
