<template>
  <div class="tab-container">
    <div
      v-for="(tab, idx) in tabs"
      :key="idx"
      class="tab"
      :class="{ 'isSelected': tab.isHover || idx === selectedTab }"
      @click="toggleTab(idx)"
      @mouseover="toggleHover(idx, true)"
      @mouseleave="toggleHover(idx, false)"
    >
      {{ tab.content }}
    </div>
  </div>
</template>

<script>
import { delay } from 'q';
export default {
  props: {
    selectedTab: {
      type: Number,
      required: true
    }
  },
  data() {
    const tabs = [
      // { id: 'daily_weeks', content: 'Record of Today' },
      { id: 'daily_weeks', content: 'Record of Day' }
    ]
    return {
      tabs
    }
  },
  computed: {
    barWidth() {
      return 1 / this.chartCount;
    }
  },
  methods: {
    toggleHover(idx, isHover) {
      const newTab = this.tabs[idx];
      newTab.isHover = isHover;
      this.$set(this.tabs, idx, newTab);
    },
    toggleTab(idx) {
      this.$emit('toggleTab', idx);
    }
  },
  watch: {
    chartData() {
      this.setChart();
    }
  }
}
</script>

<style lang="scss" scoped>
.tab-container {
  position: absolute;
  bottom: 100%;
  left: 0;

  display: flex;
  flex-direction: row;

  width: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #ffd271;
  border: 3px solid #ffd271;

  overflow: hidden;
  .tab {
    padding: 5px;

    font-weight: 600;
    color: #ffffff;
    
    cursor: pointer;
    &.isSelected {
      background-color: #ffffff;
      color: #ffd271;
      border-color: #ffd271;
      border-bottom-color: #ffffff;
    }
  }
}
</style>
